@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

[data-theme="1"] {
    --enter-modes: #000000aa;
    --enter-modes-box: #ffffff05;
    --enter-modes-box-item: #ffffff05;
    --enter-modes-box-hover: #ffffff08;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff20;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff10;

    --warning-page: #000000bb;
    --warning-page-button: #ffffff08;
    --warning-page-button-hover: #ffffff10;
    --message-page-button-border-radius: 25px;

    --background-blur: 20px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --message: #ffffff0c;
    --message-blur: blur(5px) saturate(100%);
    --message-username: #ffffff40;
    --message-time: #ffffff80;
    --message-selected: #ffffff20;
    --message-reply: #ffffff04;

    --message-options: #ffffff10;
    --options-mobile-background: #000000aa;
    --options-mobile-item: #ffffff08;

    --date: #ffffff10;
    --date-color: #ddd;

    --select-bar: #ffffff08;
    --select-bar-blur: blur(10px) saturate(100%);
    --select-bar-border-radius: 50px;
    --select-bar-button: #ffffff08;
    --select-bar-button-hover: #ffffff10;

    --menu-opened: #ffffff08;
    --menu-closed: #ffffff08;
    --menu-blur: blur(10px) saturate(100%);
    --menu-border-radius: 25px;
    --menu-icon: #ffffff08;
    --menu-icon-hover: #ffffff10;
    --menu-back: #ffffff08;
    --menu-back-hover: #ffffff10;
    --menu-item: #ffffff08;
    --menu-item-border-radius: 15px;
    --menu-item-hover: #ffffff10;

    --messenger-input-blur: blur(10px) saturate(100%);
    --messenger-input-border-radius: 50px;
    --messenger-input-submit-enable: #ffffff40;
    --messenger-input-submit-disable: #ffffff20;
    --messenger-input-placeholder: #ffffff20;
    --messenger-input-reply: #ffffff10;

    --popup: #000000cc;
    --popup-blur: blur(20px) saturate(100%);
    --popup-border-radius: 25px;
    --popup-button-border-radius: 15px;
    --popup-container: #ffffff08;
    --popup-buttons: #ffffff08;
    --popup-buttons-hover: #ffffff10;
    --edit-reply-background: #000000;

    --settings-page: #000000aa;
    --settings: #ffffff06;
    --settings-border-radius: 25px;
    --settings-blur: blur(20px) saturate(100%);
    --settings-back: #ffffff00;
    --settings-back-hover: #ffffff10;
    --settings-item: #ffffff06;
    --settings-item-hover: #ffffff10;
    --settings-submit: #000000;
}

[data-theme="2"] {
    --enter-modes: #000000aa;
    --enter-modes-box: #ffffff05;
    --enter-modes-box-item: #ffffff05;
    --enter-modes-box-hover: #ffffff08;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff20;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff10;

    --warning-page: #000000bb;
    --warning-page-button: #ffffff08;
    --warning-page-button-hover: #ffffff10;
    --message-page-button-border-radius: 25px;

    --background-blur: 20px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --message: #ffffff0c;
    --message-blur: blur(5px) saturate(100%);
    --message-username: #ffffff40;
    --message-time: #ffffff80;
    --message-selected: #ffffff20;
    --message-reply: #ffffff04;

    --message-options: #ffffff10;
    --options-mobile-background: #000000aa;
    --options-mobile-item: #ffffff08;

    --date: #ffffff10;
    --date-color: #ddd;

    --select-bar: #ffffff08;
    --select-bar-blur: blur(10px) saturate(100%);
    --select-bar-border-radius: 50px;
    --select-bar-button: #ffffff08;
    --select-bar-button-hover: #ffffff10;

    --menu-opened: #ffffff08;
    --menu-closed: #ffffff08;
    --menu-blur: blur(10px) saturate(100%);
    --menu-border-radius: 25px;
    --menu-icon: #ffffff08;
    --menu-icon-hover: #ffffff10;
    --menu-back: #ffffff08;
    --menu-back-hover: #ffffff10;
    --menu-item: #ffffff08;
    --menu-item-border-radius: 15px;
    --menu-item-hover: #ffffff10;

    --messenger-input-blur: blur(10px) saturate(100%);
    --messenger-input-border-radius: 50px;
    --messenger-input-submit-enable: #ffffff40;
    --messenger-input-submit-disable: #ffffff20;
    --messenger-input-placeholder: #ffffff20;
    --messenger-input-reply: #ffffff10;

    --popup: #000000cc;
    --popup-blur: blur(20px) saturate(100%);
    --popup-border-radius: 25px;
    --popup-button-border-radius: 15px;
    --popup-container: #ffffff08;
    --popup-buttons: #ffffff08;
    --popup-buttons-hover: #ffffff10;
    --edit-reply-background: #000000;

    --settings-page: #000000aa;
    --settings: #ffffff06;
    --settings-border-radius: 25px;
    --settings-blur: blur(20px) saturate(100%);
    --settings-back: #ffffff00;
    --settings-back-hover: #ffffff10;
    --settings-item: #ffffff06;
    --settings-item-hover: #ffffff10;
    --settings-submit: #000000;
}

[data-theme="3"] {
    --enter-modes: #000000aa;
    --enter-modes-box: #ffffff05;
    --enter-modes-box-item: #ffffff05;
    --enter-modes-box-hover: #ffffff08;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff20;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff10;

    --warning-page: #000000bb;
    --warning-page-button: #ffffff08;
    --warning-page-button-hover: #ffffff10;
    --message-page-button-border-radius: 25px;

    --background-blur: 20px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --message: #ffffff0c;
    --message-blur: blur(5px) saturate(100%);
    --message-username: #ffffff40;
    --message-time: #ffffff80;
    --message-selected: #ffffff20;
    --message-reply: #ffffff04;

    --message-options: #ffffff10;
    --options-mobile-background: #000000aa;
    --options-mobile-item: #ffffff08;

    --date: #ffffff10;
    --date-color: #ddd;

    --select-bar: #ffffff08;
    --select-bar-blur: blur(10px) saturate(100%);
    --select-bar-border-radius: 50px;
    --select-bar-button: #ffffff08;
    --select-bar-button-hover: #ffffff10;

    --menu-opened: #ffffff08;
    --menu-closed: #ffffff08;
    --menu-blur: blur(10px) saturate(100%);
    --menu-border-radius: 25px;
    --menu-icon: #ffffff08;
    --menu-icon-hover: #ffffff10;
    --menu-back: #ffffff08;
    --menu-back-hover: #ffffff10;
    --menu-item: #ffffff08;
    --menu-item-border-radius: 15px;
    --menu-item-hover: #ffffff10;

    --messenger-input-blur: blur(10px) saturate(100%);
    --messenger-input-border-radius: 50px;
    --messenger-input-submit-enable: #ffffff40;
    --messenger-input-submit-disable: #ffffff20;
    --messenger-input-placeholder: #ffffff20;
    --messenger-input-reply: #ffffff10;

    --popup: #000000cc;
    --popup-blur: blur(20px) saturate(100%);
    --popup-border-radius: 25px;
    --popup-button-border-radius: 15px;
    --popup-container: #ffffff08;
    --popup-buttons: #ffffff08;
    --popup-buttons-hover: #ffffff10;
    --edit-reply-background: #000000;

    --settings-page: #000000aa;
    --settings: #ffffff06;
    --settings-border-radius: 25px;
    --settings-blur: blur(20px) saturate(100%);
    --settings-back: #ffffff00;
    --settings-back-hover: #ffffff10;
    --settings-item: #ffffff06;
    --settings-item-hover: #ffffff10;
    --settings-submit: #000000;
}

[data-theme="4"] {
    --enter-modes: #000000aa;
    --enter-modes-box: #ffffff05;
    --enter-modes-box-item: #ffffff05;
    --enter-modes-box-hover: #ffffff08;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff20;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff10;

    --warning-page: #000000bb;
    --warning-page-button: #ffffff08;
    --warning-page-button-hover: #ffffff10;
    --message-page-button-border-radius: 25px;

    --background-blur: 20px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --message: #ffffff0c;
    --message-blur: blur(5px) saturate(100%);
    --message-username: #ffffff40;
    --message-time: #ffffff80;
    --message-selected: #ffffff20;
    --message-reply: #ffffff04;

    --message-options: #ffffff10;
    --options-mobile-background: #000000aa;
    --options-mobile-item: #ffffff08;

    --date: #ffffff10;
    --date-color: #ddd;

    --select-bar: #ffffff08;
    --select-bar-blur: blur(10px) saturate(100%);
    --select-bar-border-radius: 50px;
    --select-bar-button: #ffffff08;
    --select-bar-button-hover: #ffffff10;

    --menu-opened: #ffffff08;
    --menu-closed: #ffffff08;
    --menu-blur: blur(10px) saturate(100%);
    --menu-border-radius: 25px;
    --menu-icon: #ffffff08;
    --menu-icon-hover: #ffffff10;
    --menu-back: #ffffff08;
    --menu-back-hover: #ffffff10;
    --menu-item: #ffffff08;
    --menu-item-border-radius: 15px;
    --menu-item-hover: #ffffff10;

    --messenger-input-blur: blur(10px) saturate(100%);
    --messenger-input-border-radius: 50px;
    --messenger-input-submit-enable: #ffffff40;
    --messenger-input-submit-disable: #ffffff20;
    --messenger-input-placeholder: #ffffff20;
    --messenger-input-reply: #ffffff10;

    --popup: #000000cc;
    --popup-blur: blur(20px) saturate(100%);
    --popup-border-radius: 25px;
    --popup-button-border-radius: 15px;
    --popup-container: #ffffff08;
    --popup-buttons: #ffffff08;
    --popup-buttons-hover: #ffffff10;
    --edit-reply-background: #000000;

    --settings-page: #000000aa;
    --settings: #ffffff06;
    --settings-border-radius: 25px;
    --settings-blur: blur(20px) saturate(100%);
    --settings-back: #ffffff00;
    --settings-back-hover: #ffffff10;
    --settings-item: #ffffff06;
    --settings-item-hover: #ffffff10;
    --settings-submit: #000000;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 50px;
    background: #ffffff11;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff22;
    border-radius: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    color-scheme: dark;
    font-size: calc(90% + .8vmin);
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    font-family: 'Outfit', sans-serif;
    color: #fff;
}

button {
    font-family: 'Outfit', sans-serif;
    background-color: transparent;
    border: none;
    user-select: none;
}

::placeholder {
    user-select: none;
}

:any-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.link {
    position: relative;
    padding: .05rem;
    color: #00b7ff;
    z-index: 1;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    width: fit-content;
    display: block;
    font-weight: 400;
}

.link::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 96% 1% 0 1%;
    background-color: #00b7ff;
    transition: inset .2s;
    -webkit-transition: inset .2s;
    -moz-transition: inset .2s;
    -ms-transition: inset .2s;
    -o-transition: inset .2s;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.link:hover {
    color: #000;
}

.link:hover::after {
    inset: 0 0 0 0;
}