@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

[data-theme="1"] {
    --menu: #000000aa;
    --menu-icon: #ffffff08;
    --menu-icon-hover: #ffffff11;
    --menu-item: #ffffff08;
    --menu-item-hover: #ffffff11;
    --menu-back: #ffffff08;
    --menu-back-hover: #ffffff11;

    --settings-page: #000000aa;
    --settings: #ffffff08;
    --settings-header-border: #ffffff11;
    --settings-back: #ffffff11;
    --settings-back-hover: #ffffff22;
    --settings-item: #ffffff05;
    --settings-item-border: #ffffff11;
    --settings-item-border-hover: #ffffff00;
    --settings-submit: #000000;

    --warning-page: #000000dd;
    --warning-page-button: #ffffff08;

    --messenger-input: #ffffff08;
    --messenger-input-submit-disable: #ffffff22;
    --messenger-input-submit-enable: #ffffff44;
    --messenger-input-submit-enable-hover: #ffffff88;
    --messenger-input-emoji: #ffffff08;
    --messenger-input-emoji-hover: #ffffff11;
    --messenger-input-placeholder: #ffffff44;
    --messenger-input-reply: #ffffff08;

    --background-blur: 20px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --date: #ffffff11;
    --date-color: #fff;

    --popup: #000000dd;
    --popup-container: #ffffff06;
    --popup-buttons: #ffffff06;
    --popup-buttons-hover: #ffffff10;

    --message: #ffffff11;
    --message-blur: 5px;
    --message-username: #ffffff55;
    --message-time: #ffffff55;

    --message-options: #ffffff11;
    --message-options-hover: #ffffff25;

    --auth-background: #000000dd;
    --enter-modes-box: #ffffff02;
    --enter-modes-box-border: #ffffff11;
    --enter-modes-box-item: #ffffff04;
    --enter-modes-box-hover: #ffffff04;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff55;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff08;
}

[data-theme="2"] {
    --menu: #000000aa;
    --menu-icon: #ffffff08;
    --menu-icon-hover: #ffffff11;
    --menu-item: #ffffff08;
    --menu-item-hover: #ffffff11;
    --menu-back: #ffffff08;
    --menu-back-hover: #ffffff11;

    --settings-page: #00000088;
    --settings: #00000088;
    --settings-header-border: #ffffff08;
    --settings-back: #ffffff08;
    --settings-back-hover: #ffffff11;
    --settings-item: #ffffff08;
    --settings-item-border: #ffffff11;
    --settings-item-border-hover: #ffffff00;
    --settings-submit: #000000;
    --messenger-input-reply: #00000088;

    --warning-page: #00000088;
    --warning-page-button: #ffffff08;

    --messenger-input: #ffffff08;
    --messenger-input-submit-disable: #ffffff22;
    --messenger-input-submit-enable: #ffffff44;
    --messenger-input-submit-enable-hover: #ffffff88;
    --messenger-input-emoji: #ffffff08;
    --messenger-input-emoji-hover: #ffffff11;
    --messenger-input-placeholder: #ffffff22;

    --background-blur: 15px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --date: #ffffff11;
    --date-color: #fff;

    --popup: #00000088;
    --popup-container: #00000088;
    --popup-buttons: #ffffff08;
    --popup-buttons-hover: #ffffff15;

    --message: #ffffff09;
    --message-blur: 5px;
    --message-username: #ffffff55;
    --message-time: #ffffff55;

    --message-options: #ffffff09;
    --message-options-hover: #ffffff15;

    --login: linear-gradient(39deg, rgba(0,26,42,0) 0%, rgba(0,0,0,0.8) 50%, rgba(0,21,26,0) 100%);
    --login-mode: #ffffff08;
    --login-mode-features: #ffffff08;

    --enter-modes: #00000088;
    --enter-modes-box: #ffffff02;
    --enter-modes-box-border: #ffffff08;
    --enter-modes-box-item: #ffffff08;
    --enter-modes-box-hover: #ffffff08;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff55;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff08;
}

[data-theme="3"] {
    --menu: #000000aa;
    --menu-icon: #ffffff15;
    --menu-icon-hover: #ffffff22;
    --menu-item: #ffffff08;
    --menu-item-hover: #ffffff11;
    --menu-back: #ffffff15;
    --menu-back-hover: #ffffff22;

    --settings-page: #00000088;
    --settings: #ffffff08;
    --settings-header-border: #ffffff08;
    --settings-back: #ffffff08;
    --settings-back-hover: #ffffff22;
    --settings-item: #ffffff08;
    --settings-item-border: #ffffff22;
    --settings-item-border-hover: #ffffff00;
    --settings-submit: #000000;

    --warning-page: #00000088;
    --warning-page-button: #ffffff11;

    --messenger-input: #ffffff15;
    --messenger-input-submit-disable: #ffffff22;
    --messenger-input-submit-enable: #ffffff44;
    --messenger-input-submit-enable-hover: #ffffff88;
    --messenger-input-emoji: #ffffff08;
    --messenger-input-emoji-hover: #ffffff11;
    --messenger-input-placeholder: #ffffff44;
    --messenger-input-reply: #ffffff15;

    --background-blur: 20px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --date: #ffffff11;
    --date-color: #fff;

    --popup: #00000088;
    --popup-container: #ffffff08;
    --popup-buttons: #ffffff08;
    --popup-buttons-hover: #ffffff11;

    --message: #ffffff15;
    --message-blur: 5px;
    --message-username: #ffffff55;
    --message-time: #ffffff55;

    --message-options: #ffffff15;
    --message-options-hover: #ffffff33;

    --login: linear-gradient(39deg, rgba(0,26,42,0) 0%, rgba(0,0,0,0.6) 50%, rgba(0,21,26,0) 100%);
    --login-mode: #ffffff08;
    --login-mode-features: #ffffff08;

    --enter-modes: #00000088;
    --enter-modes-box: #ffffff02;
    --enter-modes-box-border: #ffffff08;
    --enter-modes-box-item: #ffffff08;
    --enter-modes-box-hover: #ffffff08;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff55;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff08;
}

[data-theme="4"] {
    --menu: #000000aa;
    --menu-icon: #ffffff15;
    --menu-icon-hover: #ffffff22;
    --menu-item: #ffffff08;
    --menu-item-hover: #ffffff11;
    --menu-back: #ffffff15;
    --menu-back-hover: #ffffff22;

    --settings-page: #000000aa;
    --settings: #ffffff08;
    --settings-header-border: #ffffff11;
    --settings-back: #ffffff11;
    --settings-back-hover: #ffffff22;
    --settings-item: #ffffff05;
    --settings-item-border: #ffffff11;
    --settings-item-border-hover: #ffffff00;
    --settings-submit: #000000;

    --warning-page: #000000bb;
    --warning-page-button: #ffffff08;

    --messenger-input: #ffffff08;
    --messenger-input-submit-disable: #ffffff22;
    --messenger-input-submit-enable: #ffffff44;
    --messenger-input-submit-enable-hover: #ffffff88;
    --messenger-input-emoji: #ffffff08;
    --messenger-input-emoji-hover: #ffffff11;
    --messenger-input-placeholder: #ffffff44;
    --messenger-input-reply: #00000044;

    --background-blur: 20px;

    --messenger-loader: #000;
    --messenger-loader-dots: #fff;

    --date: #ffffff11;
    --date-color: #fff;

    --popup: #000000bb;
    --popup-container: #ffffff08;
    --popup-buttons: #ffffff08;
    --popup-buttons-hover: #ffffff15;

    --message: #ffffff11;
    --message-blur: 5px;
    --message-username: #ffffff55;
    --message-time: #ffffff55;

    --message-options: #ffffff11;
    --message-options-hover: #ffffff25;

    --enter-modes: #00000088;
    --enter-modes-box: #ffffff02;
    --enter-modes-box-border: #ffffff08;
    --enter-modes-box-item: #ffffff08;
    --enter-modes-box-hover: #ffffff08;
    --auth-error: #ffffff08;
    --auth-feild: #ffffff08;
    --auth-feild-placeholder: #ffffff55;
    --auth-button: #ffffff08;
    --auth-button-hover: #ffffff08;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 50px;
    background: #ffffff11;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff22;
    border-radius: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    color-scheme: dark;
    font-size: calc(90% + .8vmin);
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    font-family: 'Outfit', sans-serif;
    color: #fff;
}

::placeholder {
    user-select: none;
}

:any-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.link {
    position: relative;
    padding: .05rem;
    color: #00b7ff;
    z-index: 1;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    width: fit-content;
    display: block;
    font-weight: 400;
}

.link::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 96% 1% 0 1%;
    background-color: #00b7ff;
    transition: inset .2s;
    -webkit-transition: inset .2s;
    -moz-transition: inset .2s;
    -ms-transition: inset .2s;
    -o-transition: inset .2s;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.link:hover {
    color: #000;
}

.link:hover::after {
    inset: 0 0 0 0;
}